<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  /* @import '~fullpage.js/dist/fullpage.min.css'; */
  /* @import url(~fullpage.js/dist/fullpage.min.css); */

  .content {
    background-color: #FFE81C;
    height: 98vh;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 170px 100px;
    font-size: 100px;
    font-weight: 800;
  }

  .slide1 {
    background-color: red;
  }

  .fixed {
    height: 700px;
    width: 500px;
    position: fixed;
    right: 280px;
    top: 140px;
    background-image: url('/');
    background-size: cover;
    background-position: center;

  }

  #welcome_overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #FFE81C;
    z-index: 1;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    right: 0px;
    bottom: 0px;
    font-weight: 800;
  }

  @media screen and (min-width: 1625px) {
    #welcome_overlay {
      display: none !important;
    }
  }

  .mobile_overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-color: #FFE81C;
    z-index: 1;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    right: 0px;
    bottom: 0px;
    font-weight: 800;
  }

  /* On screens that are 1625px or less, display mobile overlay */

  @media screen and (min-width: 1625px) {
    .mobile_overlay {
      display: none !important;
    }
  }

  p {
    font-size: 26px;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 6px;
    border: black 0.5px solid;
  }

  .logo {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 24px;
    z-index: 10;
  }

  .logo:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .frame0 {
    transform: rotate(360deg);
    transition: all ease-in-out 0.3s;
    background-image: url("assets/images/yellowBack.png") !important;
  }

  .frame1 {
    transform: rotate(0deg);
    transition: all ease-in-out 0.3s;
    background-image: url("assets/images/snakes.png") !important;
  }

  .frame2 {
    transform: rotate(180deg);
    transition: all ease-in-out 0.3s;
    background-image: url("assets/images/trees.png") !important;
  }

  .frame3 {
    transform: rotate(-90deg);
    transition: all ease-in-out 0.3s;
    right: 200px !important;
    top: 200px !important;
    background-image: url("assets/images/sunset.png") !important;

  }

</style>

<!-- Toolbar -->
<div class="mobile_overlay">
  <h2>Experience built for desktop..</h2>
</div>
<div id="welcome_overlay">
  <h2>Welcome to the Gallery</h2>
</div>

<div class="content" role="main">
  <div class="logo"> <a href="https://daltonlcarr.netlify.com">DLC</a></div>
  <div id="frame_container" class="fixed"></div>
  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <div class="section">
      Some painting in the meantime.
      <div>

      </div>

      <p>By: Dalton Carr</p>
    </div>
    <div class="section">
      Albino Snakes
      <div>
        <div class="dot" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
          popoverTitle="Pop title" style="background-color:#d68a59"></div>
        <span class="dot" style="background-color:#000000"></span>
        <span class="dot" style="background-color:#ffffff"></span>
        <span class="dot" style="background-color:#e34234"></span>

      </div>

      <p></p>
    </div>

    <div class="section" (click)="fullpage_api.moveSectionDown()">
      Diablo Lake
      <div>
        <div class="dot" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
          popoverTitle="Pop title" style="background-color:#2a52be"></div>
        <div class="dot" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
          popoverTitle="Pop title" style="background-color:#d68a59"></div>
        <span class="dot" style="background-color:#ffec00"></span>
        <span class="dot" style="background-color:#000000"></span>
        <span class="dot" style="background-color:#ffffff"></span>

      </div>

      <p></p>
    </div>
    <!-- <div class="section">
          <div class="slide1">Slide 2.1</div>
          <div class="slide2">Slide 2.2</div>
          <div class="slide3">Slide 2.3</div>
        </div> -->
    <div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">
      Bellevue Sunset
      <div>
        <div class="dot" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave"
          popoverTitle="Pop title" style="background-color:#2a52be"></div>

        <span class="dot" style="background-color:#e34234"></span>

        <span class="dot" style="background-color:#ffec00"></span>
        <span class="dot" style="background-color:#000000"></span>
        <span class="dot" style="background-color:#ffffff"></span>
      </div>

      <p></p>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
